<p>
  If the user is not logged in, redirect to this page
</p>

<div class="unregistered">
  <h1>Welcome to PresenText</h1>
  <form action="/signup" method="get">
    <button>Sign up</button>
  </form>
  <form action = "/login" method="get">
    <button>Login</button>
  </form>
</div>
