<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>TxtShow</title>
  </head>
  <body>


  <div>
    <%= yield %>
  </div>
  </body>
</html>
