<div class="back">
  <form action="/slideshow" method="get">
    <input type="hidden" name="id" value="<%=current_slideshow.id%>">
    <button>Back</button>
  </form>
</div>

<div id="display_text">
  <div id="text_wrapper">
    <span><%= @slides[0].join("</span><span>")%></span>
  </div>
</div>

<div class="presentation">
  <button id="prev_page">Previous</button>
  <button id="fullscreen">Fullscreen</button>
  <button id="next_page">Next</button>
</div>

<script type="text/javascript">
    // Sets the current slide to
    var current_slide = 0

    var p = [];
    <% @slides.each do |s| %>
    p.push(<%= s %>.reduce( (a,b) => a + ("<span>"+b+"</span>"), '') )
    <%end%>

    console.log(p)

    $('#display_text').click(function() {
      if (current_slide < p.length-1) {
        current_slide++;
      } else {
        if (document.webkitFullscreenElement != null) {
          document.webkitExitFullscreen();
        }
      }
      $('#text_wrapper').html(p[current_slide])

    });
    $('#next_page').click(function() {
      if (current_slide < p.length-1) {
        current_slide++;
      }
      if (document.getElementById('display_text').fullscreenElement) {
        document.getElementById('display_text').webkitExitFullscreen();
      }
      $('#text_wrapper').html(p[current_slide])
    });


    $('#prev_page').click(function() {
      if (current_slide > 0) {
        current_slide--;
      }
      $('#text_wrapper').html(p[current_slide])
    });
</script>

<script type="text/javascript">
  // For going full screen

  $('#fullscreen').click(function() {
    if(document.getElementById('display_text').requestFullscreen) {
      document.getElementById('display_text').requestFullscreen();
    } else if(document.getElementById('display_text').mozRequestFullScreen) {
      document.getElementById('display_text').mozRequestFullScreen();
    } else if(document.getElementById('display_text').webkitRequestFullscreen) {
      document.getElementById('display_text').webkitRequestFullscreen();
    } else if(document.getElementById('display_text').msRequestFullscreen) {
      document.getElementById('display_text').msRequestFullscreen();
    }
  })
</script>
