<p><a href="/new">New Slideshow</a></p>


<ul>
<% @slideshows.each do |slideshow| %>
<li class="slideshows"><a href="/slideshow?id=<%=slideshow.id%>"><%= slideshow['title'] %></a></li>
<% end %>
</ul>
